<!-- <p>navbar works!</p> -->

<nav class="navbar navbar-expand-sm ">
    <!-- Brand -->
    <div class="navbar-brand" href="#">Find my Tutor</div>
  
    <!-- Links -->
    <ul class="navbar-nav  ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">How To</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-user" ></i>&nbsp;&nbsp;{{username}}</a>
        
      </li>

      <li class=" nav-item dropdown " >
        <a class="nav-link"  data-toggle="dropdown" role="button" ><i class="fa fa-bars"></i></a>
        <ul class="dropdown-menu">
          <li><a href="#"> dashboard</a></li>
          <li><a href="#"> Logout</a></li>
       </ul>
      </li>
      
    </ul>
  </nav>