.navbar{
    background: #23415c;
    color: #fff;
    padding: 10px 60px 10px 0;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: sans-serif;
}
.navbar-brand{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}
.nav-link{
    color: #fff;
}
.nav-item{
    padding:7px;  

}
.fa{
    color: #fff;

}
.fas{
    color: #fff;
}
