
<nav class="navbar  navbar-expand-sm" role="navigation" [hidden]="normalnavbar">
  <div style="padding-left:10px ;" class="navbar-brand">FindMyTutor</div>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
     <span style="color: #fff;" class="fa fa-bars"></span>
   </button>
 <div class="collapse navbar-collapse" id="navbarMenu">  
 <ul class="navbar-nav  ml-auto">
     <li class="nav-item">
       <a class="nav-link"  routerLink="/firesthome" ><i class="fa fa-home"></i>&nbsp;<span>Home</span></a>
     </li>
     <li class="nav-item">
       <a class="nav-link" routerLink="/about" ><i class="fa fa-question-circle"></i>&nbsp;<span>How It Works</span></a>
     </li>


      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard1" >
            <div *ngFor="let a of user">
          <div *ngIf="a.userimage===null;else image"><i class="fa fa-user"></i>&nbsp;<span>MyProfile</span>
            </div>
            <ng-template #image>

              <img src="http://192.168.100.8:3000/imageget?name={{a.userimage}}"  style="border-radius: 20px;width:35px;height:35px" routerLink="/dashboard1" alt="no image in profile">MyProfile

              </ng-template>
            </div>
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="submit" data-toggle="modal" data-target="#myModal" ><i class="fa fa-sign-out"></i>&nbsp;<span>Logout</span></a>
      </li>
      </ul>
    </div>
  </nav>


  <div class="container">
   
    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Logout</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
            Do You Really Want to logout??
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <a href="#" type="button" class="btn btn-danger" (click)="logout()" data-dismiss="modal">Yes</a>
          </div>
          
        </div>
      </div>
    </div>
    
  </div>
  
  