.navbar{
    background: #23415c;
    color: #fff;
    padding: 5px 30px 5px 0;
    font-size: 1.2rem;
    font-weight: 500;
    font-family:'Segoe UI';
}
.navbar-brand{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}
.nav-link{
    color: #fff;
    
}

.fa{
    color: #fff;
    font-size: 1.2rem;

}
.button{
    background: #fff;
    border: 5px solid #23415c;
    border-radius: 20px;
    color: #23415c;
    font-size: 18px;
    font-weight: 700;
    width: 170px;
    text-align: center;
}
.button a{
    color:#23415c;
    text-decoration: none;
}
.logout:hover{
color: #23415c;
}
@media screen and (max-width: 400px) {
    .button{
        background: #fff;
        border: 5px solid #23415c;
        border-radius: 20px;
        color: #23415c;
        font-size: 18px;
        font-weight: 700;
        width: 100%;
        text-align: center;
        
    }
    
}
