<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- <app-navbar></app-navbar>   -->
    <div class="bg">
        <div class="container-fluid mb-5 ">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="form-container">
                    <h1>Login form</h1>
                    <form #userForm="ngForm" (ngSubmit)="onselect()" >
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" placeholder="Enter Email" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched" pattern='[^@]*@[^@]*' class="form-control" name="email" [(ngModel)]="check.mail">
                        <small class="text-danger" [class.d-none]="name.valid || name.untouched">GMAIL IS REQUIRED</small>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" placeholder="enter password" required #pass="ngModel" [class.is-invalid]="pass.invalid && pass.touched" class="form-control" name="password" [(ngModel)]="check.password">
                <small class="text-danger" [class.d-none]="pass.valid || pass.untouched">PASSWORD IS REQUIRED</small>
                        </div>
                        <p *ngIf="passwordwrong">
                            Please check your password.
                        </p>
                        <button type="submit" class="btn button btn-block"><a>Submit</a></button>
                        <!-- <p *ngIf="true" routerLink="/users1" routerLinkActive="active">yup</p> -->
                        <!-- this.router.navigate(['/users1']) -->
                        <!-- <a>{{data}}</a> -->
                    <!-- <a>{{b}}</a> -->
                    <!-- <button type="submit" class="btn button btn-block" *ngIf=b routerLink="/users1" routerLinkActive="active"><a>submits</a></button> -->
                    
                    <p *ngIf="notexists">
                        please register first.
                    </p> 
                    <div>
                    <p>Doesnot have an account??
                     <a  type="submit" routerLink="/register1" routerLinkActive="active">register</a>
                    </p>
                    </div>
                </form>
                                 <!-- <p *ngIf="true">hiiii</p> -->
                    
                    <!-- <p *ngIf=!b>this is from flase </p> -->
                    <!-- <a>hey hii my dta is missing</a> -->
                       <div [hidden]=loginexists>
                    
                       <h6>You need to register first</h6>
                       <button type="submit" class="btn button" routerLink="/register1" routerLinkActive="active"><a>register</a></button>
                   </div>
                   <!-- <p *ngIf="notexists">PLEASE ENTER VALID DETAILS</p> -->
                   <!-- <p *ngIf="passwordwrong">PLEASE ENTER VALID password DETAILS</p> -->
                </div>
            </div>
            </div>
        </div>
        </div>            
        <!-- <app-home *ngIf=entryhome></app-home>  -->
         


</body>
</html>





