<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- <app-navbar></app-navbar> -->
    <div class="container"> 
        <div class="row justify-content-center">
            <div class="col-md-12 col-sm-12">
                <div class="card-styles">
                    <div class="card">
                        <div class="card-body">
                            <div class="row ">
                                <div class="col">
                                    <div><b>name:</b>&nbsp;&nbsp;{{name}}</div><br>
                                    <div><b>subject:</b>&nbsp;&nbsp;{{subject}}</div><br>
                                    <div><b>coursetype:</b>&nbsp;&nbsp;{{coursetype}}</div><br>
                                    <div><b>time:</b>&nbsp;&nbsp;{{time}}</div><br>
                                    <div *ngIf="tutordate"><b>tutordate:</b>&nbsp;&nbsp;{{tutordate}}</div><br>
                                    <div><b>fee:</b>&nbsp;&nbsp;{{fee}}</div><br>
                                    <div><b>subsubject:</b>&nbsp;&nbsp;{{subsubject}}</div><br>
                                    <div><b>time:</b>&nbsp;&nbsp;{{time}}</div><br> 
                                    <div *ngIf=selecteddays>  
                                    <div  *ngIf="!a"><b>days:</b>&nbsp;&nbsp;{{selecteddays}}</div>
                                    <div *ngIf="a">
                                        days:<br>
                                        <div  *ngFor="let day of days">
                                            <input (click)="onsel(day)"type="checkbox" >{{day}}
                                        </div>

                                    </div></div>
                           
                                        <button class="btn btn-primary" type="submit" (click)="fun()" > submit</button>
                                </div>
                                <div class="col">
                                    <div *ngIf="image==='null';else image1">
                                        <img  class="rounded-circle" src="../../assets/default.jpg" alt="nooooo">
                                        </div>


 <!-- add the else block -->

                                                                                  
                                        <ng-template #image1>
                                          <img class="rounded-circle" src="http://localhost:3000/imageget?name={{image}}" alt="dsxcz">
                                          </ng-template>

                               </div>
                                </div>
                               
                
                            </div>
                            
                      </div>
                    </div>
            </div>
        </div>
      
</div>
<br><div style="color: blue; text-align: center;"  *ngIf="regitered">
    ALREADY REGISTERED
</div>


</body>
</html>