.container{
    /* font-style: sans; */
    margin-top: 2%;
    font-family: sans-serif;
}
.card-styles{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #23415c;
    width: 75%;
}
.tq{
    height: 250px;
    width: 250px;

}
/* #about{
    padding-top: 98px;
    padding-bottom: 101px;
}

#about .triangle-right{
    margin-top: 95px;
    width: 0;
    height: 0;
    border-top: 359px solid transparent;
    border-left: 570px solid #d6c6b2;
    border-bottom: 359px solid transparent;
}

#about .triangle-right img{
    position: absolute;
    left: -1px;
    top: 81px;
    width: 50%;
 
}
#about .about-img{
    position: relative;
    
}

#about .about-img{
    position: relative;
    
    
}

#about .about-img .man{
    position: absolute;
    bottom: 150px;
    top: 15px;
    left: -2px;
    
} */
