 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="965555276720-hc80ve6rrpu9d5nkcd4abud1qvfk75mc.apps.googleusercontent.com">
</head>
<body>
    <script src="https://apis.google.com/js/platform.js" async defer></script> 
<meta name="google-signin-client_id" content="965555276720-hc80ve6rrpu9d5nkcd4abud1qvfk75mc.apps.googleusercontent.com">

<router-outlet></router-outlet>
</body>
</html> 
