<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
                    <div class="background" *ngIf="check==='user not exists';else image">
                      <form (ngSubmit)="onsubmit(email.value)">
                        <div class="group">
                          <input type="mail" #email>
                          <span class="highlight"></span>
                          <span class="bar"></span>
                          <label>Enter Your Email Here</label>
                          <button type="submit" class="button buttonBlue">submit
                            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                          </button>
                        </div>
                      </form>
                    </div>

    <ng-template #image>
        <div *ngIf="otpchecking==='not ok'">
        <form (ngSubmit)="otpsubmit(otp.value)">
            <div class="group">
            <input type="number" #otp>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Enter the otp</label>
            <button type="submit" class="button buttonBlue">submit
                <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
            </button>
            </div>
        </form>
    </div>
</ng-template>
    <div *ngIf="otpchecking==='ok'">
        <form  #userForm="ngForm" (ngSubmit)="password(pass.value)">
            <div class="group">
            <input type="password" required #pass="ngModel" [class.is-invalid]="pass.invalid && pass.touched" name="password" [(ngModel)]="checking.password" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Create new password</label>
            <small class="text-danger" [class.d-none]="pass.valid || pass.untouched">At least 8 characters,Lowercase,Uppercase,Numbers,Special character</small>
            <button type="submit" class="button buttonBlue">submit
                <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
            </button>
            </div>
        </form>
    </div>
</body>
</html>