<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <div *ngIf="check==='user not exists';else image">
    <form (ngSubmit)="onsubmit(email.value)"  >
        <input type="mail" placeholder="enter mail id" #email>
        <button type="submit">submit</button>
    </form></div>
    <ng-template #image>
        <div *ngIf="otpchecking==='not ok'">
        <p>enter the otp</p>
        <form (ngSubmit)="otpsubmit(otp.value)">
            <input type="number" placeholder="enter otp" #otp>
            <button type="submit">submit</button>
        </form></div>
    </ng-template>
    <!-- for password -->
    <div *ngIf="otpchecking==='ok'">
        <form (ngSubmit)="password(pass.value)">
            <input type="password" placeholder="enter password" #pass>
            <button type="submit">submit</button>

        </form>
    </div>
</body>
</html>