body{
    margin: 0;
    padding: 0;
    font-weight:bold;
    font-family: sans-serif;
}
.form-container{
        position: absolute;
        top: 7vh;
        background: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px #23415c;
        width: 90%;

    }
.bg{
        background: url(../../assets/img-1.jpg) no-repeat  ;
       width: 100%;

       height: auto;
       background-size: 300%;
    
    }
.button{
        background:#23415c;
        border-radius: 20px;  
        font-size: 20px;
        font-weight: 600;      
}
.button a{
    color: #fff;
    text-decoration: none;
}
.form-container h1{
    font-size: 35px;
    font-weight: 600;
    color: #23415c;
}
label{
        color: #23415c;
        font-size: 15px;
        font-weight: 500;
} 
input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
}
.heading{
    text-align: center;
    /* justify-content: start; */
}