<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <script src="https://ajax.googleapis.co/ajax/libs/jquery/2.2.3/jquery/min.js"></script> -->
</head>
<body>
    <app-navbar></app-navbar>
    <div class="container">
        <!-- <h4>subject</h4> -->
        <mat-form-field>
          <mat-label>Subjects</mat-label>
          <mat-select>
            <mat-option *ngFor="let subject of subjects" value="" >
              {{subject}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Subtopics</mat-label>
            <mat-select>
              <mat-option *ngFor="let sub of subs" value="" >
                {{sub}}
              </mat-option>
            </mat-select>
          </mat-form-field>&nbsp;&nbsp;
          <button type="button" (click)="onsel()" mat-raised-button>Today Classes</button>
    </div>
    <div class="container"  *ngIf=!display>

        <!-- <script type="text/javascript" src="functions/searchbar.js"></script> -->

            <!-- <input  type="text" name="search" [(ngModel)]="globalSearch.subject" autocomplete="off" placeholder="enter text to search"> -->

        <div class="card-display" *ngFor="let a of subjectslist | filter:globalSearch" [hidden]=display>

        <script type="text/javascript" src="functions/searchbar.js"></script>
        <h1>subjects</h1>
     <li *ngFor="let sub of allsubjects">{{sub}}</li>
     <br>
             <!-- <input type="text" name="search" value="" autocomplete="off"  id="myinput"   class="b"  (keyup.enter)="searchFunction()" placeholder="Search"> -->
        <!-- <input type="text"> -->
            </div>
            <input  type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="enter text to search">

        <ul id="wrappers">
          <li>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card-styles">
                            <div class="card">
                                <div class="card-header row"><b>Subject:</b><div name="subject" class="subject">&nbsp;&nbsp;&nbsp;{{a.tutorsubject}}</div></div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card-body"><b>Name:</b>&nbsp;&nbsp;&nbsp;{{a.tutorname}}</div>
                                    </div>
                                    <div class="col">
                                        <div class="card-body"><b>Time:</b>&nbsp;&nbsp;&nbsp;{{a.tutortime}}</div> 
                                    </div>
                                    <div class="col">
                                        <div class="card-body"><b>Course:</b>&nbsp;&nbsp;&nbsp;{{a.tutorcoursetype}}</div> 
                                    </div>
                                    <div class="col">
                                        <div class="card-body"><b>likes:</b>&nbsp;&nbsp;&nbsp;{{a.likes}}</div>
                                    </div>
                                </div>
                                <div class="card-footer"><b>description:</b>&nbsp;&nbsp;&nbsp;{{a.tutordescription}}</div>
                              </div>
                              
                              <button  type="submit" class="btn btn-info btn-lg" (click)="subjectselected(a.tutorname,a.tutorsubject,a.tutortime,a.tutorcoursetype,a.tutorfee,a.tutordescription,a.tutorwatsuplink,a.tutormail)" >Subscribe</button>
                        </div>
                    </div>
                </div>
                              
            </div>
          </li>
        </ul>
        </div>

        <app-courseselected [selectedcouse]="selectedcouse" [hidden]=!display ></app-courseselected> 
