<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <app-navbar></app-navbar>
    <!-- <app-courseselected [selectedcouse]="selectedcouse" *ngIf=display></app-courseselected>  -->
    
    
        
      <button (click)="gettodayclasses()">today classes</button>
    <div class="container">
      <div class="container">
      <mat-form-field>
        <mat-label>course type filter</mat-label>
        <mat-select>
          <mat-option *ngFor="let Course of Courses">
         <p (click)="typeselection(Course)">  {{Course}}</p>  
          </mat-option>
        </mat-select>
      </mat-form-field>

        <mat-form-field>
          <mat-label>Subjects</mat-label>
          <mat-select>
            <mat-option *ngFor="let subject of allsubjects"  >
           <p (click)="subjectselection(subject)">  {{subject}}</p>  
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Subtopics</mat-label>
            <mat-select>
              <mat-option *ngFor="let sub of subsubjects"  >
                <p (click)="subsubjectselection(sub)">  {{sub}}</p> 
              </mat-option>
            </mat-select>
          </mat-form-field>&nbsp;&nbsp;
    </div>
<!-- 
    <div class="container">
    
            
     <br>
             
            
            <input  type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="enter text to search">


         <div class="card-display" *ngFor="let a of subjectslist | filter:searchText;let i=index" [hidden]=display>
        <ul id="wrappers">
          <li>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card-styles">
                            <div class="card">
                                <div class="card-header row"><b>Subject:</b><div class="subject">&nbsp;&nbsp;&nbsp;{{a.tutorsubject}}</div></div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card-body"><b>Name:</b>&nbsp;&nbsp;&nbsp;{{a.tutorname}}</div>
                                    </div>
                                    <div class="col" *ngIf="a.selecteddays">
                                      <div class="card-body"><b>days:</b>&nbsp;&nbsp;&nbsp;{{a.selecteddays}}</div>
                                  </div>
                                    <div class="col">
                                      <div class="card-body">
                                        <div *ngIf="a.tutorimage===null;else image">
                                        <img src="../../assets/default.jpg" alt="dsxcz">{{a.tutorimage}}
                                        </div>


  add the else block -->
<!-- 
                                                                                  
                                        <ng-template #image>
                                          <img src="http://localhost:3000/imageget?name={{a.tutorimage}}" alt="dsxcz">{{a.tutorimage}}
                                          </ng-template>
                                      </div>
                                  </div>
                                    <div class="col">
                                        <div class="card-body"><b>Time:</b>&nbsp;&nbsp;&nbsp;{{a.tutortime}}</div> 
                                    </div>
                                    <div class="col">
                                      <div class="card-body"><b>time duration:</b>&nbsp;&nbsp;&nbsp;{{a.timeduration}}&nbsp;&nbsp;hr</div> 
                                  </div>
                                  <div class="col" *ngIf="a.tuorgdate">
                                    <div class="card-body"><b>class date:</b>&nbsp;&nbsp;&nbsp;{{a.tuorgdate}}</div> 
                                </div>
                                  

                                    <div class="col">
                                        <div class="card-body"><b>Course:</b>&nbsp;&nbsp;&nbsp;{{a.tutorcoursetype}}</div> 
                                    </div>
                                    <div class="col" *ngIf="a.likes">
                                        <div class="card-body"><b>likes:</b>&nbsp;&nbsp;&nbsp;{{a.likes}}</div>
                                    </div>
                                    <div class="col" *ngIf="a.maxstudents">
                                      <div class="card-body"><b>remaining entries:</b>&nbsp;&nbsp;&nbsp;{{a.maxstudents}}</div>
                                  </div>
                                    <div class="col">
                                      <div class="card-body"><b>subsubject:</b>&nbsp;&nbsp;&nbsp;{{a.tutorsubsubject}}</div>
                                  </div>
                                </div>
                                <div class="card-footer"><b>description:</b>&nbsp;&nbsp;&nbsp;{{a.tutordescription}}</div>
                              </div>
                              <button  class="btn btn-info btn-lg" (click)="subjectselected(i)" >Subscribe</button>

                        </div>
                    </div>
                </div>
                              
            </div>
          </li>
        </ul>
        </div>   -->


<!-- new card-body -->
 <div class="container">
  <div *ngIf="!display">
  <input  type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="enter text to search">
</div>
<div class="card-display" *ngFor="let a of subjectslist | filter:searchText" [hidden]=display>
  <ul id="wrappers">
    <li>
      <div class="container">
<div class="card mycard">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div *ngIf="a.tutorimage===null;else image">
          <img class="img" src="../../assets/default.jpg" alt="dsxcz">{{a.tutorimage}}
          </div>
<!-- add the else block                                          -->
           <ng-template #image>
            <img class="img" src="http://localhost:3000/imageget?name={{a.tutorimage}}" alt="dsxcz">{{a.tutorimage}}
            </ng-template>
        
      </div>
      <div class="col">
        <div ><b>Subject:</b><span class="subject">&nbsp;&nbsp;&nbsp;{{a.tutorsubject}}</span></div>
          <div ><b>Name:</b>&nbsp;&nbsp;&nbsp;{{a.tutorname}}</div>
          <div *ngIf="a.tuorgdate"><b>date:</b>&nbsp;&nbsp;&nbsp;{{a.tuorgdate}}</div>
          <div *ngIf="a.maxstudents" ><b>remaining entries:</b>&nbsp;&nbsp;&nbsp;{{a.maxstudents}}</div> 

        <div *ngIf="a.selecteddays" ><b>days:</b>&nbsp;&nbsp;&nbsp;{{a.selecteddays}}</div>
          <div ><b>Time:</b>&nbsp;&nbsp;&nbsp;{{a.tutortime}}</div> 
    <div ><b>Course:</b>&nbsp;&nbsp;&nbsp;{{a.tutorcoursetype}}</div> 
          <div *ngIf="a.likes"><b>likes:</b>&nbsp;&nbsp;&nbsp;{{a.likes}}</div>
        <div ><b>subsubject:</b>&nbsp;&nbsp;&nbsp;{{a.tutorsubsubject}}</div>
      <div><b>description:</b>&nbsp;&nbsp;&nbsp;{{a.tutordescription}}</div>
      <div style="float: right;"><button  type="submit" class="btn btn-info btn-lg" (click)="subjectselected(a.tutorname,a.tutorsubject,a.tutortime,a.tutorcoursetype,a.tutorfee,a.tutordescription,a.tutorwatsuplink,a.tutormail)" >Subscribe</button></div>
    </div>
</div>
</div></div>
</div>
</li>
</ul>
</div>
</div>
</div>  





        

        