<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dashboard</title>
</head>
<body>
    <nav class="navbar navbar-expand-md ">
  <img src="dashboardimage" class="rounded-circle"   width="200"  height="200" alt="no image1">
        <div class="navbar-brand" >Find my Tutor</div>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
          <span class="fa fa-bars"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav  ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/firesthome" ><i class="fa fa-home"> &nbsp;Home</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" ><i class="fa fa-clone"> &nbsp;How It works</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tutor1" ><i class="fa fa-user"> &nbsp;Tutor</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/student1" ><i class="fa fa-graduation-cap"> &nbsp;Student</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  type="submit" (click)="logout()" ><i class="fas fa-sign-out-alt"></i></a>
          </li>
          </ul></div>
      </nav><br>
      
      <div class="container-fluid mycontainer">
          <div class="row justify-content-end ">
            <!-- <div class="col-6"></div> -->
              <div style="padding: 20px;" ><button type="submit" class="btn button " (click)="classesattended1()" ><img class="img-icon" src="../../assets/undraw_teaching_f1cm.svg">&nbsp;  Teached</button></div>
             <div *ngIf="show">
              <button type="submit" (click)="onlyonce()">once</button>
              <button type="submit" (click)="multiple()">multiple</button>
            </div>
              <div style="padding: 20px;"><button type="submit" class="btn button" (click)="classesenrolled1()" ><img class="img-icon" src="../../assets/undraw_exams_g4ow.svg">&nbsp;  Enrolled</button></div>
          </div>
      </div>
      <!-- cards -->
<div *ngIf="showimmediatecourses">
      <h1>fastfilling</h1>
      <div *ngFor="let a of immediatecourse">
        <p><strong>seats  left:</strong>{{a.maxstudents}}</p>
        <p><strong>subject:</strong>{{a.tutorsubject}}</p>
        <p><strong>sub subject :</strong>{{a.tutorsubsubject}}</p>
        <p><strong>date:</strong>{{a.tutordate}}</p>
        <!-- <p><strong>likes:</strong>{{a.likes}}</p> -->
<br>
      </div></div>
<div *ngIf="showimmediatecourses">
  <h3>famous courses</h3>
  <div *ngFor="let a of mostliked">
    <p><strong>subject:</strong>{{a.tutorsubject}}</p>
    <p><strong>sub subject:</strong>{{a.tutorsubsubject}}</p>
    <p><strong>course type :</strong>{{a.tutorcoursetype}}</p>
    <p><strong>likes:</strong>{{a.likes}}</p>
</div></div>
        <div *ngIf="a">
          <div *ngFor="let a of asastudent" class="container">
            <div class="row myrow">
            <div  class="card mycard">
              <div class="card-body">
                <div class="card-data">
                  <p><b>Name</b> &nbsp;: &nbsp;{{a.learnername}}</p>
                  <p><b>Subject</b>&nbsp;:&nbsp;{{a.leanersubject}}</p>
                  <p><b>Time</b>&nbsp;:&nbsp;{{a.time}}</p>
                  <div *ngIf="a.tutororgdate===null;else date">
<!-- try to implement dates for continous teachers -->

                  </div>
                  <ng-template #date>
                    <p>date:&nbsp;{{a.tutororgdate}}</p>
                    </ng-template>
                  <div *ngIf="a.tutorimage==='null';else image1">
                    <img src="../../assets/default.jpg" alt="nooooo">
                    </div>
<!-- add the else block -->                                        
                    <ng-template #image1>
                      <img src="http://localhost:3000/imageget?name={{a.tutorimage}}" alt="dsxcz">
                      </ng-template>

                  <p><b>Like</b>&nbsp;:&nbsp;{{a.like}}</p>
                  <button type="submit" *ngIf="!a.like" (click)="like(a.learnername,a.leanersubject,a.learnertime,a.date,a.like,a.tutormail,a.learnermail,a.time)"><i [style.color]= "hasError ? '#23415c' :'gray'"  class="fa fa-thumbs-up"></i></button>
              <button type="submit" *ngIf="a.like" (click)="dislikedf(a.learnername,a.leanersubject,a.learnertime,a.date,a.like,a.tutormail,a.learnermail,a.time)" ><i class="fa fa-thumbs-up"></i></button>
              </div>
              </div>
            </div>
          </div>
        </div> 
      </div>

      
        <div *ngIf="b">
          <div *ngFor="let b of asatutor" class="container">
            <div class="row myrow">
            <div   class="card mycard">
              <div class="card-body">
                <div class="card-data" >
                  <p><b>Subject</b>&nbsp;= &nbsp; {{b.tutorsubject}}</p>
                  <p><b>Subsubject</b>&nbsp;= &nbsp; {{b.tutorsubsubject}}</p>
                  <p><b>time</b>&nbsp;= &nbsp; {{b.tutortime}}</p>

                  <p><b>Coursetype</b>&nbsp;= &nbsp; {{b.tutorcoursetype}}</p>
                  <p *ngIf="b.selecteddays"><b>Days</b>&nbsp;= &nbsp; {{b.selecteddays}}</p>
                  <p *ngIf="b.likes"><b>Likes</b>&nbsp;= &nbsp; {{b.likes}}</p>
                  <p *ngIf="b.tuorgdate"><b>data:&nbsp;&nbsp;{{b.tuorgdate}}</b></p>
                  <br>
                  <button class="del-button" type="submit" *ngIf="showbutton" (click)="delete(b.tutorsubject,b.tutorcoursetype,b.likes,b.tutorsubsubject)">delete</button >
              </div>
              </div>
            </div>
          </div><br>
        </div>
      </div>

      <!-- cards -->
      


    

      </body>


   <!-- as tutor -->
 

<!-- as student -->

<button routerLink="/profile">profile</button>
