<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dashboard</title>
</head>
<body>
    <button type="submit" (click)="classesattended1()" >classes teached</button>
    <button type="submit" (click)="classesenrolled1()" >classes enrolled</button>
<div *ngFor="let a of asastudent" [hidden]="student">
    <p>{{a.learnername}}</p><br>
    <p>{{a.leanersubject}}</p><br>
    <p>{{a.learnertime}}</p><br>
    <p>{{a.date}}</p><br>
    <p>{{a.like}}</p>
    <button type="submit" (click)="like(a.learnername,a.leanersubject,a.learnertime,a.date,a.like,a.tutormail)">like</button>
</div>