body{
    width: 100%;
    padding: 0;
    margin: 0;
}
.main{
    margin-left: 20%; 
    padding: 0px 10px;
  
}
.sidebar {
    height: 100%;
    width: 20%;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #23415c;
    padding: 16px 25px;
  }
  .sidebar a {
    padding: 6px 8px 10px 60px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    font-family: sans-serif;
    border-bottom: 1px dotted #fff;
       
  }
  .sidebar a:last-child{
      border-bottom: none;
  }
  .name{
      text-align: center;
      color: #fff;
      font-size: 20px;
  }

  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  .button{
    padding: 6px 0px 0px 0px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    
  }
  .sidebar img{
      height: 100px;
      width: 100px;
      border-radius: 50%;
  }
  .img-style{
      text-align: center;
  }
  


.nav-link{
    color: #fff;
}

.fa{
    color: #fff;

}
.fas{
    color: #fff;
}
.mycontainer{
    border-bottom: 2px solid lightgrey;
    padding-bottom: 20px;
    float: right;
    
}
.myrow{
    padding: 20px 0px 10px 0px;
    width: 100%;
}
.mycard{
    background: rgb(250, 247, 255);
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #cacfd3;
    width: 100%;
    
}
.card-data p{
    font-size: 18px;
    font-weight: 500;
    color: black;
    font-family: sans-serif;

}
.card-data button{
    border: none;
}
.card-data button i{
    color: gray;
    font-size: 25px;
}
.card-data button i:visited{
    color: #23415c;
}
.del-button{
    background:#23415c;
    border: 2px solid #23415c;
    border-radius: 5px;
    color:#fff;
    font-size: 18px;
    font-weight: 600;
    padding: 15px; 
}
