<!-- session navbar  code -->

  <div [hidden]=sessionnavbar>
<app-navbar></app-navbar>
</div>

<!-- session not exists navbar code -->
<nav class="navbar  navbar-expand-sm" role="navigation" [hidden]="normalnavbar">
         <div style="padding-left:25px ;" class="navbar-brand">FindMyTutor</div>
         <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="fa fa-bars"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarMenu">  
        <ul class="navbar-nav  ml-auto">
            <li class="nav-item">
              <a class="nav-link"  routerLink="/firesthome" >Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about" >How It Works</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" type="button" routerLink="/login1" routerLinkActive="active" >Login</a>
            </li>
              <li class="nav-item">
                <a class="nav-link"  type="button" routerLink="/register1" routerLinkActive="active">Register</a>
            </li>
         <!-- <button type="button" ><a  type="button" routerLink="/login1" routerLinkActive="active" >Login</a></button>
         <button type="button"><a  type="button" routerLink="/register1" routerLinkActive="active">Register</a></button> -->
        </ul>
        </div>
 </nav>
 
 <div class="bg">
     <div class="centered">
         <h3>FindMyTutor</h3>
         <h6>Learn-Share-Repeat</h6>
     </div>
 </div>
 
 <div class="padding">
     <div class="container">
        <div class="row ">
            <div class="col-md-6 col-sm-12">
               <img src="../../assets/TeacherStudent.jpg">
            </div>
            <div class="col-md-6 col-sm-12">
             <p>Even in the era of 'Online Courses', many people prefer learning in a Class.
                 Owing to the relevency and individual attention, but finding a tutor with
                 flexibility is a different challange altogether. FMT helps in resolving that
                 challenge by helping to find that Ideal Tutor.</p>
                  
                <p> FindMyTutor enables users to register as a tutor, or as a student to find their
                 Ideal tutor in every possible course. Given the users have a whatsapp account
                 FindMyTutor provide the users a Group Invitation Link (provided by the Tutor)
                 to join the Tutor.</p>
         </div>
        </div>
     </div>
 </div>
 
 <div class="padding">
     <div class="container">
         <div class="row text-center">
             <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
               <img src="../../assets/teacher.jpg">
             </div>
             <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <p>
                 FindMyTutor enables it's users to register as Tutors after providing essential details,
                 and a whatsapp group invite link. Tutors can teach a wide range of versatile courses
                 and FMT helps them in finding their students.
                 </p> 
             </div>
             <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <img src="../../assets/student.jpg">
             </div>
             <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                 <p>FindMyTutor helps users to register as a student too. FindMyTutor provides all the
                     information for finding Tutors with requirements and let's them subscribe to the
                     course by providing a whatsapp link to thier e-mail.</p>
             </div>
         </div>
     </div>
 </div>
 
 <footer  class="container-fluid text-center">
        <div class="row">
            <div class="col-sm-4 "></div>
            <div class="col-sm-4 ">
                <h3>Connect</h3>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
                <a href="#" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-google"></a>
                <a href="#" class="fa fa-instagram"></a>
            </div>
            <div class="col-sm-4 "></div>
        </div>
 </footer>