/* @import 'https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext,latin-ext'; */
* {
  box-sizing:border-box
}

.container-fluid{
  width:700px;
  height:700px;
  /* background-color: beige; */
}
.card{
  width: 350px;
  border:1px solid gray;
}
.card-text
{
  font-size: 20px;
  font-style: sans-serif;
  text-decoration: underline; 
}
.card img{
  height: 250px;
  width: 100%;
}
.head{
 color: #23415c;
 font-size: 35px;
 font-weight: 700;
}
.card-body{
  text-align: center;
}
.card-styles{
  padding: 10px 2px;
}
.button{
  background:#23415c;
  border-radius: 20px;  
  font-size: 20px;
  font-weight: 600;
}
.button a{
color: #fff;
text-decoration: none;
}




button
 {
   color:#454545;
   background:transparent;
   border-width:2px;
   border-style: solid;
   border-color: #454545;
   position:relative;
   margin:1em;
   display:inline-block;
   padding:0.5em 1em;
   transition:all 0.3s ease-in-out;
   text-align:center;
font-family:comfortaa;
font-weight:bold
}
button:before,
 button:after 
 {
   content:'';
   display:block;
   position:absolute;
   border-color:#454545;
   box-sizing:border-box;
   border-style:solid;
   width:1em;
   height:1em;
   transition:all 0.3s ease-in-out
  }
button:before
 {
   top:-6px;
   left:-6px;
   border-width:2px 0 0 2px;
   z-index:5;
  }
button:after 
{
  bottom:-6px;
  right:-6px;
  border-width:0 2px 2px 0;
}
button:hover:before,
 button:hover:after 
 {width:calc(100% + 12px);
  height:calc(100% + 12px);
  border-color:#fff
}
button:hover
 {
   color:#353535;
   background-color:#fff;
   border-color:#fff
  }
.panel
 {
   max-width:960px;
   text-align:center;
   position:relative;
   margin:auto;
  }
.pink button {color:#23415c;border-color:#23415c}
.pink button:before, .pink button:after  {border-color:#23415c}
.pink button:hover:before, .pink button:hover:after {border-color:#23415c;}
.pink button:hover {color:#fff;background-color:#23415c;border-color:#23415c;}
.pink .panel {max-width:960px;text-align:center;position:relative;margin:auto;}


