<!-- <app-navbar></app-navbar>  -->
<!-- <div class="container">
    <img src="../../assets/tutor.jpg"  class="image">
    <div class="overlay">
      <div class="text">
          Congratulations your selected as tutor<br>
         <button class="button"><span routerLink="/dashboard1" routerLinkActive="active">Go</span ></button> 
      </div>
    </div>
  </div> -->
<!-- <div class="container">
  <img src="../../assets/teacher.gif">
  <button mat-raised-button color="primary" data-toggle="modal" data-target="#myModal">Click Here</button>
</div>
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    
      Modal Header
      <div class="modal-header">
        <h4 class="modal-title">Hi Tutor</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      Modal body
      <div class="modal-body">
        Congratulations your selected as teacher
      </div>
      
      Modal footer
      <div class="modal-footer">
        <! <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -
        <button class="button"><span routerLink="/dashboard1"  routerLinkActive="active">Go</span ></button> 
      </div>
      
    </div>
  </div>
</div> -->

  <!-- <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="modal fade" id="myModals">
          <div class="modal-dialog">
            <div class="model-header">
              <h1>Congratulations</h1>
            </div>
            <div class="model-body">
              Congratulations your selected as tutor
            </div>
            <div class="model-footer">
              <button class="button"><span routerLink="/dashboard1" routerLinkActive="active">Go</span ></button>
            </div>
          </div>
        </div>
        <a href="#" data-toggle="modal" data-target="#myModal"> Open Modal</a>
      </div>
    </div>
  </div> -->
  <div class="container">
  <div class="row">
    <div class="col  myrow">
      <img src="../../assets/teache.jpg">
    </div>
    <div class="col  myrow">
      <p>Congratulations your selected as a teacher</p>
      <button class="button"><span routerLink="/dashboard1" routerLinkActive="active">Go</span ></button> 
    </div>
  </div>
  </div>
  