
<div class="container-fluid">
  <div class="row justify-content-center" >
      <div class="card-styles">
         <!-- <div class="card" > -->
             <img class="card-img-top" src="../../assets/hurray2.png" alt="Card image">
             <div class="card-body">
               <p class="card-text">Your account is successfully created.</p>
               <div class="panel pink">
                <button routerLink="/dashboard1" routerLinkActive="active">Click Here</button>
              </div>
              </div>
           <!-- </div> -->
          </div>
  </div>
</div>
