input[type='file'] {
    color: transparent;
  }
  .navbar{
    background: #23415c;
    color: #fff;
    padding: 10px 40px 10px 0;
    font-size: 1.2rem;
    font-weight: 500;
    font-family:'Segoe UI';
}
.navbar-brand{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}
.nav-link{
    color: #fff;
    
}
.form-container{
  position: absolute;
  top: 3vh;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #23415c;
}
.form-heading{
  text-align: center;
  color: #23415c;
  font-size: 30px;
  font-weight: 600;
  font-family: sans-serif;
}
.img-style{
  text-align: center;
  padding: 10px;

}
.img-style img{
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.btn{
  text-align: center;
  width:50%;
}
.fa{
  color: #fff;
}
.button{
  background: #fff;
  border: 1px solid #23415c;
  border-radius: 15px;
  color: #23415c;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 15px;
  text-align: center;
  
}
@media screen and (max-width: 400px) {
  .img-style img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  .button{
    background: #fff;
    border: 1px solid #23415c;
    border-radius: 15px;
    color: #23415c;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 15px;
    width: 100%;
    text-align: center;
    
  }
  
}