<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>


<a *ngIf="forfircard">
<div class="bg1" style="width: 90%;text-align: center;" >
    <div class="container-fluid mb-6" style="width: 90%;text-align: center;">
        <div class="row justify-content-center" style="width: 100%;text-align: center;">
            <div class="col-12" style="width: 90%;text-align: center;">
                 <div class="form-container">
                     <div class="heading" *ngIf=!pw>
                         Resgistration form
                     </div>
                    <img src={{imageUrl}} *ngIf=!pw class="rounded-circle" style="text-align: center;width:200;height:600;left:100px;"  alt="image not found">
                    <input type="file" *ngIf=!pw (change)="selectimage($event)">
                    <form #userForm="ngForm" (ngSubmit)="onsubmit(pass.value,passwd.value)" *ngIf=!pw>

                <div class="form-group">
                    <label>Email</label>
                    <input type="text" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched" pattern='[^@]*@[^@]*' class="form-control" name="email" [(ngModel)]="registermodel.mail">
                    <small class="text-danger" [class.d-none]="name.valid || name.untouched">GMAIL IS REQUIRED</small>
                </div>
                <div class="form-group">
                    <label>location</label>
                    <input type="text" required #location="ngModel" [class.is-invalid]="passwd.invalid && passwd.touched" class="form-control" name="location" [(ngModel)]="registermodel.location">
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" required #names="ngModel" [class.is-invalid]="names.invalid && names.touched" class="form-control" name="user" [(ngModel)]="registermodel.name">
                    <small class="text-danger" [class.d-none]="names.valid || names.untouched">USERNAME IS REQUIRED</small>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" required #pass="ngModel" [class.is-invalid]="pass.invalid && pass.touched" class="form-control" name="password" [(ngModel)]="registermodel.password">
                     <small class="text-danger" [class.d-none]="pass.valid || pass.untouched">PASSWORD IS REQUIRED</small>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" required #passwd="ngModel" [class.is-invalid]="passwd.invalid && passwd.touched" class="form-control" name="passwords" [(ngModel)]="registermodel.passwords">
                    <small class="text-danger" [class.d-none]="passwd.valid || passwd.untouched">PASSWORD IS REQUIRED</small>
                </div>
<!-- <<<<<<< HEAD
                <button class= "btn button" [disabled]="userForm.form.invalid" type="submit"  (click)="onimage()" >submit</button>
            </form>
            <br>
======= -->
                    <button class= "button2 button6" style="background-color:#23415c;" [disabled]="userForm.form.invalid" type="submit"  (click)="onimage()" >submit</button>
                    <a *ngIf=login1>
                         Your are already a user.
                    </a>
                <div *ngIf=a>
                    <h6>please check your <b>Email</b></h6>
                    <button class="button2 button6" onclick="window.location.href = 'http://www.gmail.com';"><a>Click</a> </button>
                </div>
                <div *ngIf=b>
                    <h6>please check your password</h6>
                </div>
                <div *ngIf=gpw>
                    <h6>please check your password</h6>
                </div>
                    </form>

        <div class=" container row">
            <div class="row">
                <div *ngIf="!a">
            <button href="" class="button1 button5" (click)="check('google')" *ngIf=!pw style="left: 30px;"><img style="height: 20px;width: 20px;" src="../../assets/googleimage.png">Sign in with Google</button>
                </div>
            </div>
        </div>
<!-- <<<<<<< HEAD
        </div>             
            <form [hidden]=!pw>
                <div class="container-fluid">
                <form #userForm1="ngForm" autocomplete="off" (ngSubmit)="onclickme(passwordgoogle.value,repasswordgoogle.value,location.value)">
                   <div class="form-group">
                    <label>Set Your Password</label>
                <p><input type="password" name="password" class="form-control" #passwordgoogle="ngModel"
                    [class.is-invalid]="passwordgoogle.invalid && passwordgoogle.touched" [(ngModel)]="gpwmodel.passwordgoogle"></p>
                    <small class="text-danger" [class.d-none]="passwordgoogle.valid || passwordgoogle.untouched">This Field is required.</small>
                   </div>
                   <div class="form-group">
                <label>Confirm Password</label>
                <p><input type="password" name="reenter password" class="form-control" #repasswordgoogle="ngModel"
                    [class.is-invalid]="repasswordgoogle.invalid && repasswordgoogle.touched" [(ngModel)]="gpwmodel.repasswordgoogle"></p>
                    <small class="text-danger" [class.d-none]="repasswordgoogle.valid || repasswordgoogle.untouched"></small>
 for location -->
<!-- <div class="form-group">
    <label>enter location</label>
    <p><input type="text" n class="form-control" #location></p>
    </div>
 <button [disabled]="userForm1.form.invalid" type="submit">done</button>
            </div>   
            </form> 
                </div>
                <a *ngIf=users1> 
                    Your Account Is Succesfully Created.
                </a>
        </form>
        <a *ngIf=login1>
            Your are already a user. -->
<!-- ======= --> 

        <div class="row" *ngIf="!a">
            <p *ngIf=!pw>Already a user?</p>
            <p><button class="button button4"  (click)=onlogin() *ngIf=!pw>login</button></p> 
        </div> 
            </div>
         </div>
     </div>
   </div>
</div>
</a>




<a *ngIf=forseccard>
<div class="bg1" style="width: 90%;text-align: center;" >
    <div class="container-fluid mb-6" style="width: 90%;text-align: center;">
        <div class="row justify-content-center" style="width: 100%;text-align: center;" >
            <div class="col-12" style="width: 90%;text-align: center;">
               <div class="form-container1">
    <!-- <div class="container row">             -->
        <!-- <div class="container-fluid"> -->
            <form #userForm1="ngForm" *ngIf=pw (ngSubmit)="onclickme(passwordgoogle.value,repasswordgoogle.value,location.value)">
            <div class="form-group">
                <label style="text-align: center;">Set Your Password</label>
                <input type="password" required name="password" class="form-control" #passwordgoogle="ngModel"
                [class.is-invalid]="passwordgoogle.invalid && passwordgoogle.touched" [(ngModel)]="gpwmodel.passwordgoogle" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}">
                <small class="text-danger" [class.d-none]="passwordgoogle.valid || passwordgoogle.untouched">At least 8 characters,Lowercase,Uppercase,Numbers,Special character</small>
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" required name="reenter password" class="form-control" #repasswordgoogle="ngModel"
                [class.is-invalid]="repasswordgoogle.invalid && repasswordgoogle.touched" [(ngModel)]="gpwmodel.repasswordgoogle" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}">
                <small class="text-danger" [class.d-none]="repasswordgoogle.valid || repasswordgoogle.untouched">At least 8 characters,Lowercase,Uppercase,Numbers,Special character</small>
            </div>
            <!-- for location -->
            <div class="form-group">
                <label>enter location</label>
                <input type="text" n class="form-control" #location>
            </div>
            <button class="button button4" [disabled]="userForm1.form.invalid" type="submit">Submit</button>   
            </form> 
        <!-- </div>  -->
        <a *ngIf=users1> 
            Your Account Is Succesfully Created.
        </a>
           
        <!-- </div> -->
        </div>
</div>
</div>
</div>
</div>
</a>








<!-- <button [disabled]="userForm.form.invalid" class="btn btn-primary" type="submit" (click)='onclick()' [hidden]=pw>submit</button> -->
            <!-- <button class="btn button1" (click)="check('google')" [hidden]=pw>Sign in with Google</button> -->
        <!-- </div> -->

