<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<img src={{imageUrl}} [hidden]=pw class="rounded-circle"   width="200"  height="200" alt="image not found">
<input type="file" value="" [hidden]=pw title=" " (change)="selectimage($event)">

    <div class="bg" >
        <div class="container-fluid mb-5">
        <div class="row justify-content-center">
            <div class="col-6">
                 <div class="form-container">
                     
            <div class="heading" [hidden]=pw>Resgistration form</div>

            <form #userForm="ngForm" (ngSubmit)="onsubmit(pass.value,passwd.value)" [hidden]=pw>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched" pattern='[^@]*@[^@]*' class="form-control" name="email" [(ngModel)]="registermodel.mail">
                <small class="text-danger" [class.d-none]="name.valid || name.untouched">GMAIL IS REQUIRED</small>
                </div>
                <div class="form-group">
                    <label>location</label>
                    <input type="text" required #location="ngModel" [class.is-invalid]="passwd.invalid && passwd.touched" class="form-control" name="location" [(ngModel)]="registermodel.location">
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" required #names="ngModel" [class.is-invalid]="names.invalid && names.touched" class="form-control" name="user" [(ngModel)]="registermodel.name">
                <small class="text-danger" [class.d-none]="names.valid || names.untouched">USERNAME IS REQUIRED</small>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" required #pass="ngModel" [class.is-invalid]="pass.invalid && pass.touched" class="form-control" name="password" [(ngModel)]="registermodel.password">
                 <small class="text-danger" [class.d-none]="pass.valid || pass.untouched">PASSWORD IS REQUIRED</small>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" required #passwd="ngModel" [class.is-invalid]="passwd.invalid && passwd.touched" class="form-control" name="passwords" [(ngModel)]="registermodel.passwords">
                 <small class="text-danger" [class.d-none]="passwd.valid || passwd.untouched">PASSWORD IS REQUIRED</small>
                </div>
                <button class= "btn button" [disabled]="userForm.form.invalid" type="submit"  (click)="onimage()" >submit</button>
            </form>
            <br>
                <!-- <button [disabled]="userForm.form.invalid" class="btn btn-primary" type="submit" (click)='onclick()' [hidden]=pw>submit</button> -->
            <!-- <button class="btn button1" (click)="check('google')" [hidden]=pw>Sign in with Google</button> -->
        <!-- </div> -->

        <div class=" container row">
        <div class="row">
            <div *ngIf="!a">
            <button class="btn button" (click)="check('google')" [hidden]=pw>Sign in with Google</button>
        </div></div>
        <br>
        <div class="row" *ngIf="!a">
            <div class="col">
            <p [hidden]=pw>Already a user?</p>
        </div>
        <div class="col">
            <button class="btn button" (click)=onlogin() [hidden]=pw>login</button> 
        </div>
        </div>             
            <form [hidden]=!pw>
                <div class="container-fluid">
                <form #userForm1="ngForm" autocomplete="off" (ngSubmit)="onclickme(passwordgoogle.value,repasswordgoogle.value,location.value)">
                   <div class="form-group">
                    <label>Set Your Password</label>
                <p><input type="password" name="password" class="form-control" #passwordgoogle="ngModel"
                    [class.is-invalid]="passwordgoogle.invalid && passwordgoogle.touched" [(ngModel)]="gpwmodel.passwordgoogle"></p>
                    <small class="text-danger" [class.d-none]="passwordgoogle.valid || passwordgoogle.untouched">This Field is required.</small>
                   </div>
                   <div class="form-group">
                <label>Confirm Password</label>
                <p><input type="password" name="reenter password" class="form-control" #repasswordgoogle="ngModel"
                    [class.is-invalid]="repasswordgoogle.invalid && repasswordgoogle.touched" [(ngModel)]="gpwmodel.repasswordgoogle"></p>
                    <small class="text-danger" [class.d-none]="repasswordgoogle.valid || repasswordgoogle.untouched"></small>
<!-- for location -->
<div class="form-group">
    <label>enter location</label>
    <p><input type="text" n class="form-control" #location></p>
    </div>

                    <button [disabled]="userForm1.form.invalid" type="submit">done</button>
            </div>   
            </form> 
                </div>
                <a *ngIf=users1> 
                    Your Account Is Succesfully Created.
                </a>
                
                <!-- </div>
            </div> -->
        </form>
        <a *ngIf=login1>
            Your are already a user.
        </a>
            <div *ngIf=a>
                <h6>please check your <b>Email</b></h6>
                <button class="btn button" onclick="window.location.href = 'http://www.gmail.com';"><a>Click</a> </button>
            </div>
           <div *ngIf=b>
                <h6>please check your password</h6>
           </div>
           <div *ngIf=gpw>
            <h6>please check your password</h6>
       </div>
            </div></div>
        </div>
            
        </div>
        </div>










